
<div class="row">
  <div class="col s7">
    <h3>Nova Questão</h3>
    <p>
     <%= link_to 'Lista de Questões', questions_path %>
    </p>
    <%= render 'form', question: @question %>
  </div>
</div>
