
@import "materialize/components/color";
$primary-color: color("red", "lighten-2") !default;
$secondary-color: color("blue", "base") !default;
@import 'materialize';
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

 .container{
   margin: 0 auto;
   max-width: 1280px;
   width: 80%;
 }

table {
  border-width: 1px;
  display: table;
  border-collapse: collapse;
  border-spacing: 2px;
}
