
@import "materialize/components/color";
$primary-color: color("red", "lighten-2") !default;
$secondary-color: color("blue", "base") !default;
@import 'materialize';
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

body{
  background-color: #eee;
}

 .container{
   margin: 0 auto;
   max-width: 1280px;
   width: 80%;
 }

 .content{
   font-size: 18px;
   font-weight: 300;
 }

 .mark-alternativa{
   height: 20px;
   border-radius: 10%;
   margin-right: 1%;
 }

 .correta{
   background-color: color("green", "lighten-3");
 }

 .incorreta{
   background-color: color("red", "lighten-3");
 }

 .form-validation{
   background-color: #eee;
   padding: 5%;
   color: color("red", "darken-3");
   border-radius: 5px;
 }

table {
  border-width: 1px;
  display: table;
  border-collapse: collapse;
  border-spacing: 2px;
}
